@tailwind base;
@tailwind components;
@tailwind utilities;

/* .header{
    display:flex;
    justify-content: space-between;
    
    border:1px solid black;
}

.header > img{
    width:100px;
}

.header > ul{
    display:flex;
    gap:10px;
}



.nav-items>ul{
    display: flex;
    gap:10px;
    padding:1.2em;
}
.nav-items>ul>li{
    list-style-type: none;
    
}
.login-btn{
    align-self: stretch;
}

.search-div{
    margin:0.2em;
}

.card{
    width:200px;
    border: 1px solid black;
}

.card>img{
    width:100%;
    
}

.restaurant-list{
    margin:1em;
    display: flex;
    gap:10px;
    flex-wrap:wrap;
}
.shimmer-card{
    height:200px;
    width:200px;
    background-color: lightgrey;
    margin:1em;
    
}
.shimmer-flex{
    display: flex;
    flex-wrap: wrap;
} */

