.header{
    display:flex;
    justify-content: space-between;
    align-items: center;;
    padding:1em;
    border:1px solid black;
}

.header > img{
    width:100px;
}

.header > ul{
    display:flex;
    gap:10px;
}

.header > ul > li{
    list-style-type:none;
}

.card{
    width:200px;
    border: 1px solid black;
}

.card>img{
    width:100%;
    
}

.restaurant-list{
    margin:1em;
    display: flex;
    gap:10px;
    flex-wrap:wrap;
}